h1 {
    text-align: center;
    color: aliceblue;
    margin-right: 10%;
    list-style-type: circle;
}

h2 {
    color: aliceblue;
}

li {
    color: aliceblue;
}

p {
    text-align: center;
    color: aliceblue;
    margin-right: 10%;
}

body {
    background-color: dimgray;
}

.sixty {
    width: 60%;
    margin-left: 25%;
}


.flex-container {
    display: flex;
    flex-flow: row;
}


.padding{
    padding-left: 50px;
}

.margin{
    margin: 15px;
}

.margin-top{
    margin-top: 15px;
}

.line-h{ 
    line-height: 0.5;
}
.exp{
    text-align: left;
    color: aliceblue;
    padding: 0px;
    margin: 0px;
    font-size: 16px;
}
ul{
    list-style-type: square;
    font-size: 20px;
}
.propic{
    width: 110px;
    height: 142px;
}

.ischool{
    width: 690px;
    height: 142px;
}

.fontchange{
    font-size: 20px;
}